<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<h1 class="text-2xl font-bold">마이페이지</h1>

<div class="avatar avatar-online avatar-placeholder">
  <div class="text-neutral-content bg-neutral w-24 rounded-full">
    <img class="profile-img" th:src="@{|/gen/${member.profileImg}|}" alt="userImg">
  </div>
</div>
<div>
  <div>
   <span class="text-xl" th:text="${member.username}"></span>
  </div>
  <div>
    <span class="text-xl" th:text="${member.email}"></span>
  </div>
</div>
